.main-block-map iframe {
  max-width: 100%;
}
.main-block-contacts {
    padding-left: 20px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.main-block-contacts h4 {
  font-size: 14px;
  margin: 10px 0; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.main-block-contacts p {
  padding-bottom: 15px 
}

.main-block {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  margin: 60px 0 0 95px;
}

.main-block-form {
  max-width: 25%;
  padding-left: 100px; }

.main-block-form h3 {
  font-size: 20px;
  margin-top: 10px; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  max-width: 200px;
}

.main-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 100%;
  padding-top: 10px; 
}

.main-form input {
  max-width: 45%;
  height: 30px;
  background-color: #e6e6e6;
  border: none;
  margin-bottom: 20px;
  padding-left: 5px; }

.main-form textarea {
  background-color: #e6e6e6;
  border: none;
  width: 100%;
  height: 70px; 
  padding-left: 5px;}

.main-form-btn {
  padding: 5px 30px 5px 30px;
  margin-top: 30px;
  background-color: #ce3a3a;
  border: 1px solid #e6e6e6;
  cursor: pointer; 
  color: #ffffff;
  text-align: center;
}

.main-form-btn:hover {
  color: #f7f7f7;
  background-color: #03a87c; 
}
