.infinite-container {
  margin: 50px auto 50px;
  max-width: 600px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.infinite-item {
  max-width: 600px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #666666;
}
.infinite-item img {
  max-width: 600px;
}
.infinite-item h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}
.infinite-item p {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* адаптивность */

 
@media all and (max-width: 600px) {
  .infinite-item img {
    max-width: 400px;
  }
  .infinite-container {
    max-width: 400px;
  }
}
@media all and (max-width: 410px) {
  .infinite-item img {
    max-width: 300px;
  }
  .infinite-container {
    max-width: 300px;
  }
}